.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: yellow;
}

.topHalf{
  display: flex;
  flex-direction: column;
  height: 30%;
  background-color: palegreen;
}

  .header{
    width: 100vw;
    height: 50%;
    background-color: wheat;
  }

  .searchBar{
    width: 100vw;
    height: 50%;
    background-color: orange;
  }

.bottomHalf{
  display: flex;
  flex-direction: row;
  height: 70%;
  background-color: orchid;
}

.shelf{
  height: 100%;
  width: 60% ;
  background-color: thistle;

}

.Booklist{
  height: 100%;
  width: 40%;
  background-color: tomato;
}


